* {
    padding: 0;
    margin: 0;
}

body {
    background-color:white;
}

nav {

    top: 0;
    width: 100%;
    background-color: #e3f7e3;
    
}

nav ul {
    list-style-type: none;
    overflow: hidden;

}


nav ul li a {
    display: block;
    float: left;
    padding: 10px 12px;
    text-decoration: none;
    font-family: Calibri;
    color: black;
    border-right: 1px solid #ddd;

}

nav ul li a:hover, nav ul li a:focus {
    background-color: white;
    font-weight: bold;
}

.active {
    background-color: white;
    font-weight: bold;
}

.otsikot {
    background-color: #8BE389;
    padding: 40px;
}

h1 {
    color:#176322;
    text-align: center;
    font-family: Rockwell;
    font-size: 60px;
}

h2 {
    color:#176322;
    text-align: center;
    font-family: Rockwell;
    font-size: 20px
}

.sisalto {
    color:#000000;
    text-align: center;
    font-family: Calibri;
    font-size: 18px;
    margin-top: 20px;

}

.linkit1 {
    color:#176322;
    font-family: Rockwell;
    font-size: 20px
}

.linkit2 {
    color:#176322;
    font-family: Rockwell;
    font-size: 20px
}

.rivi {
    display: flex;
    gap: 20px;
}

.sarake {
    flex: 1;
    padding: 10px;
}

.kuva {
    max-width: 75%;
    height: auto; 
}

.kartta {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.aukiolo {
    color:#000000;
    font-family: Calibri;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    display: flex; 
    justify-content: center;
}

.paiva {
    padding-right: 5px;
}

footer {
    font-family: Calibri;
    font-size: 18px;
    color: #000000;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8BE389;

}